body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
.font-weight-bold {
    font-weight: 700 !important;
}

h3,
h4,
.font-weight-normal {
    font-weight: 400 !important;
}

.btn-square {
    width: 36px;
    height: 36px;
}

.btn-sm-square {
    width: 28px;
    height: 28px;
}

.btn-lg-square {
    width: 46px;
    height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

@keyframes action {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-15px);
    }
}

/* Par défaut, pour les écrans de toutes tailles */
.logo {
    max-width: 230px;
    height: auto;
}
/* Pour les écrans de taille PC uniquement */
@media (min-width: 992px) {
    .logo {
        max-width: 230px;
    }
}
/* Pour les écrans de taille tablette */
@media (max-width: 991px) {
    .logo {
        max-width: 180px;
    }
}
/* Pour les écrans de taille mobile */
@media (max-width: 767px) {
    .logo {
        max-width: 150px;
    }
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    flex-direction: row-reverse;
}
}

.container-fluid.nav-bar,
.nav-bar.container-sm,
.nav-bar.container-md,
.nav-bar.container-1g,
.nav-bar.container-x1 {
    position: absolute;
    z-index: 9;
}

@media (max-width: 993px) {
    .container-fluid.nav-bar,
    .nav-bar.container-sm,
    .nav-bar.container-md,
    .nav-bar.container-1g,
    .nav-bar.container-x1
    {
        position: relative;
        background: #33211D;
    }
}

.pb-3, .py-3 {
    padding-bottom: 0.5rem !important;
    padding-top: 0.5rem !important;
}

.navbar-dark .navbar-nav .nav-link {
    padding-left: 15px;
    padding-right: 15px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFBF2;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:active {
    color: #DA9F5B;
}

.overlay-top::before,
.overlay-bottom::after {
    position: absolute;
    content:"";
    width: 100%;
    height: 15px;
    left: 0;
    z-index: 1;
}

.overlay-top::before {
    top: -2px;
    background: url(../img/overlay-top.png);
}

.overlay-bottom::after {
    bottom: -2px;
    background: url(../img/overlay-bottom.png);
}

.carousel-inner {
    line-height: 0;
}

.carousel-caption{
    top: 0;
    left: 0; right: 0;
    bottom: 0;
    background: rgba(51, 33, 29, 0.7);
    z-index: 1;
}

.section-title {
    position: relative;
    padding: 115px 0 35px 0;
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 2px;
    height: 100px;
    top: 0;
    left: 50%;
    margin-left: 1px;
    background: #DA9F5B;
}

.service-icon {
    margin-right: 15px;
    width: 45px;
    height: 45px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background: #DA9F5B;
}

.menu-price {
    position: absolute;
    margin: 0;
    top: -5px;
    right: 10px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    color: #33211D;
    background: #DA9F5B;
}

.form-group {
    ::placeholder {
        color: white !important; /* Adjust the opacity as needed */
    }
    .form-control {
        color: #fff !important;
    }
}


/* Default color for all options */
.custom-select option {
    color: black; /* Or any other default color */
}

/* Specific styling for the selected option (handled by JavaScript) */
.custom-select option[selected] {
    color: white; /* White color for the selected text */
}

/* Styling for the select element */
.custom-select {
    background-color: transparent;
    color: white; /* Initial color for the selected option */
}

.testimonial-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background: #DA9F5B;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    width: 40px;
    background: #33211D;
}

.testimonial-carousel .owl-item img {
    width: 80px;
    height: 80px;
}

.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.reservation,
.page-header,
.offer,
.footer {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.9)), url(../img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 11;
    animation: action 1s infinite alternate;
}

/*
---------------------------------------------
offers
---------------------------------------------
*/

.heading-tabs {
    text-align: center;
}

.heading-tabs .main-dark-button {
    text-align: right;
}

#tabs ul {
    padding: 0;
}
#tabs ul li {
    display: inline-block;
    margin: 0px 15px 15px 0px;
}
#tabs ul li a {
    text-transform: capitalize;
    width: 100%;
    display: inline-block;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 0.3s;
    text-decoration: none;
    text-align: center;
}

#tabs ul li a img {
    display: block;
    margin: 0 auto 15px auto;
}
#tabs ul .ui-tabs-active a {
    color: #DA9F5B;
    position: relative;
}

#tabs ol, ul, dl {
    margin-top: 0;
    margin-bottom: 2rem;
}
